<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1>Search Patient</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Patient Name</label>
                    <input name="patientname" [(ngModel)]="patientname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()" class="btn btn-dark">Search</button>
                </div>
            </div>
            <div class="row g-3 " *ngFor="let j of searchData">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Patient Mobile</label>
                    <input type="text" class="form-control" value="{{j.patientmobile}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Appoinment Date</label>
                    <input type="text" class="form-control" value="{{j.appointmentdate}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Doctor Name</label>
                    <input type="text" class="form-control" value="{{j.doctorname}}">
                </div>
                
                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="deleteBtnClick(j.id)" class="btn btn-dark">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>